:root {
    --primary-color: rgb(153, 26, 26);
    --secondary-color: rgb(32, 32, 32);
    --tertiary-color: rgb(54, 55, 56);
}

* {
    margin: 0px;
    padding: 0px;
    gap: 0px;
    /* border: solid black 1px; */
}

@font-face {
    font-family: Norse;
    src: url(./Fonts/Norse-Bold.otf);
}

@font-face {
    font-family: Papyrus;
    src: url(./Fonts/papyrus.ttf);
}

img {
    height:25px;
}

body {
    display: grid;
    grid-template: repeat(6, 1fr) / 1fr 5fr;
    color: black;
    background-color: var(--primary-color);
    font-family: Papyrus;
}

.dashboard-title-container {
    display:flex;
    gap:10px;
}

.logo-icon {
    justify-self: center;
    align-self: center;
}

.navbar {
  background-color: var(--secondary-color);
  color: white;
  display: grid;
  padding: 15px;
  grid-row: 1 / 8;
  font-size: large;
  grid-auto-rows: min-content;
  gap: 50px;
  font-family: Norse;
}

.navbar p {
    font-weight: bolder;
    font-size: x-large;
}

.navbar p:hover {
    text-decoration: underline;
}

.navlink-container {
    display: flex;
    gap: 10px;
}

.nav-main-content-container, .nav-extra-content-container {
    display: grid;
    gap: 10px;
}

.header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    grid: 1fr 2fr / 2fr 1fr;
    background-color: var(--tertiary-color);
}

.searchbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.searchbar {
    background-color: var(--primary-color);
    width: 80%;
    height: 30px;
    border: solid 2px black;
    border-radius: 20px;
}

.searchbar:focus {
    outline: 1px solid crimson;
    box-shadow: inset 0 0 0 1px black;
}

.user-info-container {
    display: flex;
    gap: 15px;
    justify-content: end;
    padding: 15px;
    padding-right: 70px;
}

.page-title-container {
    display: grid;
    grid: 1fr 1fr / 1fr 6fr
}

.title-image-container{
    grid-row: 1 / 4;
    justify-self: end;
    align-self: center;
    padding-right: 15px;
}
.title-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.user-picture {
    border-radius: 50%;
}

.user-name {
    align-self: center;
}

.title-greeting {
    justify-self:start;
    align-self: end;
}

.header-actions-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    background-color: var(--secondary-color);
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 15px;
}

button:hover {
    border: solid 2px black;
}

button:active {
    background-color: var(--primary-color);
}

.main-content {
    grid-row: 2 / 7;
    display: grid;
    grid: 1fr 1fr / 3.5fr 1fr;
    padding: 20px;
    gap: 15px;
}

.project-container {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: max-content;
    gap: 20px;
}

.content-title {
    grid-column: 1 / 3;
    margin: 15px 0px -15px 0px;
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
}

.project {
    background-color: var(--tertiary-color);
    border-radius: 15px;
    padding: 15px;
    border-left: 10px solid black;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    box-shadow: 1px 1px 5px;
}

.project:hover {
    box-shadow: inset 0 0 0 1px black;
}

.project-title {
    align-self: end;
    font-size: large;
    font-weight: bold;
}

.share-icons-container {
    justify-self: end;
}

.announcements, .trending {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.announcements-title, .trending-title {
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
}

.announcements-container, .trending-container {
    display: grid;
    grid-template-rows: 3;
    flex: 1;
    padding: 30px;
    gap: 5px;
    background-color: var(--tertiary-color);
    border-radius: 15px;
}

.announcement-subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.announcement-subtitle {
    font-weight: bold;
}

.trending {
    width: fit-content
}

.trending-subcontainer {
    display: grid;
    grid-template: 1fr 1fr / 1fr 3fr;
}

.trending-picture-container {
    grid-row: 1/3;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 5px;
    /* width:fit-content; */
}

.trender-name {
    align-self: end;
    width:fit-content;
}

.trender-description {
    width:fit-content;
}

.trender-picture {
    height: 50px; 
}