:root {
    --primary-color: rgb(190, 204, 226);
    --secondary-color: rgb(54, 122, 247);
    --tertiary-color: white;
}

* {
    margin: 0px;
    padding: 0px;
    gap: 0px;
    border: solid black 1px; /* deving code, remove later */
}

body {
    display: grid;
    grid-template: repeat(6, 1fr) / 1fr 5fr;
    width: 100%;
    height: 100%;
    height: 100vh;
    width: 100vw;
}

.navbar {
  background-color: var(--secondary-color);
  color: white;
  display: grid;
  padding: 15px;
  grid-row: 1 / 7;
  font-size: large;
  grid-auto-rows: min-content;
  gap: 50px;
}

.header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    grid: 1fr 2fr / 2fr 1fr;
    background-color: var(--tertiary-color);
}

.searchbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.searchbar {
    background-color: var(--primary-color);
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 20px;
}

.user-info-container {
    display: flex;
    gap: 15px;
    justify-content: end;
    padding: 15px;
    padding-right: 70px;
}

.page-title-container {
    display: grid;
    grid: 1fr 1fr / 1fr 6fr
}

.title-image {
    grid-row: 1 / 4;
    justify-self: end;
    align-self: center;
    padding-right: 15px;
}

.title-greeting {
    justify-self:start;
    align-self: end;
}

.header-actions-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 15px;
}

.main-content {
    grid-row: 2 / 7;
    grid-column: 2 / 3;
    background-color: var(--primary-color);
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
}

.project-container {
    grid-row: 1 / 3;
}

.navlink-container {
    display: flex;
    gap: 5px;
}